<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>591918438533-3981ebahgpfv5lav73m43v6d77rmrols.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591918438533-3981ebahgpfv5lav73m43v6d77rmrols</string>
	<key>API_KEY</key>
	<string>AIzaSyAQaOWNO74TSVBktBJvoIFXtU5SYyv3-7E</string>
	<key>GCM_SENDER_ID</key>
	<string>591918438533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Viksaa39.Ikea</string>
	<key>PROJECT_ID</key>
	<string>laminate-flooring-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>laminate-flooring-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591918438533:ios:53c9a985bae40d3b</string>
	<key>DATABASE_URL</key>
	<string>https://laminate-flooring-ar.firebaseio.com</string>
</dict>
</plist>